<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ns/css/grid.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ns/css/index.css')}}">
	<title>J.V.M. OPTIMUM</title>
</head>
<body>
	<div class="container">
		<div id="panel" class="row">
			<button  class="span2"><a href="/techman">Технолог</a></button>
			<button class="span2"><a href="/designer">Дизайнер</a></button>
			<button class="span2"><a href="/bookler">Бухгалтер</a></button>
			<button class="span2"><a href="/stress">Швея</a></button>
		</div>	
	</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
{% block scripts %}
	
{% endblock %}

</body>
</html>
